/* CSS Document
*
* @autor Fernanda Pieretti
* @data jul2015
* @ref base.css
*
*/

@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);

* { margin: 0; padding: 0; border: none; outline: none }
html{background:url(../_imagens/site/bg-2.png) repeat}
html, body, input, select, textarea { color: #4B4B4D;font-family: Georgia, "Times New Roman", Times, serif;font-weight: 400; font-size: 14px; }
h1,h2,h3,h4,h5,h6,p {display:block;cursor:default}
ul, ol { list-style: none }
a img { border: none }
h1,h2,h3,h4,h5,h6,p{display:block;cursor:default}



