/* CSS Document
*
* @autor Fernanda Pieretti
* @data jun2015
* @ref flexslider.css
*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author:Tyler Smith (@mbmufffin)
*/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus{outline:none}
.slides, .flex-control-nav, .flex-direction-nav{margin:0;padding:0;list-style:none}
.flexslider{margin:0;padding:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.flex-pauseplay span{text-transform:capitalize}

.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}
.no-js .slides > li:first-child{display:block}

.flexslider {position:relative;zoom:1}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.flex-disabled{display:none}
.flexslider .slides{zoom:1}

.loading{width:100%;height:445px;position:relative;overflow:hidden;background:#fff}
.loading:after{content:'';width:100%;height:100%;position:absolute;z-index:2;background:#fff url(../_imagens/site/loading.gif) no-repeat center;top:0;left:0}

/* Diretion Nav  */
.flex-direction-nav{height:0}
.flex-direction-nav li{display:inline-block}
.flex-direction-nav li a{width:46px;height:89px;text-indent:-99999px;display:block;position:absolute;z-index:2;top:50%;margin-top:-43px;opacity:0.5}
.flex-direction-nav li a.flex-prev{background:url(../_imagens/site/seta1.png) no-repeat center;left:0}
.flex-direction-nav li a.flex-next{background:url(../_imagens/site/seta2.png) no-repeat center;right:0}
