/* CSS Document
*
* @autor Fernanda Pieretti
* @data jul2015
* @ref styles.css
*
*/

#nav{width:100%;height:70px;line-height:70px;position:absolute;z-index:10;top:0;left:0;background:url(../_imagens/site/bg-2.png) repeat;text-align:center}
#nav #menuDropDown{display:none;color:#fff;cursor:pointer;background:url(../_imagens/site/menu.png) no-repeat right center;line-height:30px}
#nav ul{display:block}
#nav ul li{display:inline-block;padding-left:30px;margin-left:20px;background:url(../_imagens/site/aspas2.png) no-repeat left center}
#nav ul li a{color:#E8E3D0;text-decoration:none;text-transform:uppercase;font-size:17px;font-family:Rokkitt,sans-serif;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#nav ul li a:hover,#nav ul li a.select{color:#FFCC29;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#nav ul li:first-child{padding-left:0;background:none;margin-left:0}

#header{width:100%;height:820px;float:left;clear:both;padding:100px 0 0;background:url(../_imagens/cover/1.jpg) no-repeat top center;box-sizing:border-box}
#header.interno{height:auto;padding-bottom:150px}
#header .logo{display:block;margin:15px auto 0;position:relative;z-index:9}

#header .banner{width:100%;height:auto;float:left;clear:both;border:15px solid #E8E3D0;box-sizing:border-box;background:#fff;margin-top:-86px;position:relative}
#header .banner .slider1{width:50%;float:left}
#header .banner .slider2{width:25%;float:left}
#header .banner .slides img{width:100%;display:block}

#header .texto{width:100%;float:left;clear:both;padding:20px 0 30px;text-align:center;font-weight:700;background:#E8E3D0}
#header .texto p{color:#727376;margin:0 15px}
#header .texto p b{color:#BC2E31;font-size:18px}

#header .cardapio{width:100%;height:auto;float:left;clear:both;border:15px solid #E8E3D0;padding:15px;box-sizing:border-box;background:#fff;margin-top:-86px;position:relative}
#header .cardapio h2{color:#972A2B;font-size:38px;text-transform:uppercase;text-align:center;margin:30px 0;font-weight:300;font-family:Rokkitt,sans-serif;border-bottom:2px solid #972A2B;padding-bottom:10px}
#header .cardapio h3{display:block;text-decoration:none;text-transform:uppercase;padding:5px 10px;font-size:18px;color:#FFCC29;font-family:Rokkitt,sans-serif;background:#D83135}
#header .cardapio .principal{width:100%;display:block;margin-bottom:30px}
#header .cardapio .menu{width:25%;float:left}
#header .cardapio .menu li{display:block;margin:0 0 10px}
#header .cardapio .menu li a{display:block;text-decoration:none;text-transform:uppercase;padding:5px 10px;font-size:18px;color:#D83135;font-family:Rokkitt,sans-serif;background:#FFCC29;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .cardapio .menu li a:hover,#header .cardapio .menu li a.select{background:#D83135;color:#FFCC29;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .cardapio .produtos{width:70%;float:right}
#header .cardapio .produtos .lista{display:block}
#header .cardapio .produtos .lista li{width:31%;float:left;margin:20px 3% 20px 0}
#header .cardapio .produtos .lista li a{display:block;height:260px;text-decoration:none;color:inherit;text-align:center;border:1px solid #d1d3d4;box-sizing:border-box;position:relative;background:#fbfafa}
#header .cardapio .produtos .lista li a b{display:table-cell;width:100%;text-transform:uppercase;margin:5px;height:85px;vertical-align:middle}
#header .cardapio .produtos .lista li a span{font-size:13px;text-transform:none;display:block;margin-top:5px;font-weight:400}
#header .cardapio .produtos .lista li a big{display:block;font-size:22px;margin:0 5px}
#header .cardapio .produtos .lista li a i{position:absolute;z-index:1;background:url(../_imagens/site/bandeira.png) no-repeat center;width:118px;height:29px;color:#fff;line-height:29px;top:100%;left:50%;margin-left:-59px;font-size:11px}
#header .cardapio .produtos .lista li img{display:block;width:100%}
#header .cardapio .produtos .lista li:nth-child(3n){margin-right:0}

#header .novidades{width:100%;height:auto;float:left;clear:both;border:15px solid #E8E3D0;padding:15px;box-sizing:border-box;background:#fff;margin-top:-86px;position:relative}
#header .novidades h2{color:#972A2B;font-size:38px;text-transform:uppercase;text-align:center;margin:30px 0;font-weight:300;font-family:Rokkitt,sans-serif;border-bottom:2px solid #972A2B;padding-bottom:10px}
#header .novidades h3{display:block;text-decoration:none;text-transform:uppercase;padding:5px 10px;font-size:18px;color:#FFCC29;font-family:Rokkitt,sans-serif;background:#D83135}
#header .novidades .menu{width:25%;float:left}
#header .novidades .menu li{display:block;margin:0 0 10px}
#header .novidades .menu li a{display:block;text-decoration:none;text-transform:uppercase;padding:5px 10px;font-size:18px;color:#D83135;font-family:Rokkitt,sans-serif;background:#FFCC29;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .novidades .menu li a:hover,#header .novidades .menu li a.select{background:#D83135;color:#FFCC29;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .novidades .menu li.img{margin-top:40px}
#header .novidades .menu li.img a{padding:0}
#header .novidades .menu li.img a img{display:block;width:100%}
#header .novidades .novidade{width:70%;float:right}
#header .novidades .novidade h4{font-family:Rokkitt,sans-serif;font-size:25px;padding:5px 0 0 30px;background:url(../_imagens/site/aspas.png) no-repeat left center;margin:10px 0 10px}
#header .novidades .novidade p small{display:block;text-align:right;font-size:11px;color:#A9ABAE}
#header .novidades .novidade .principal{width:100%;display:block;margin:20px 0}
#header .novidades .anteriores{display:block;margin-top:30px;width:100%;float:left;clear:both}
#header .novidades .anteriores li{width:31%;float:left;margin:20px 3.5% 20px 0}
#header .novidades .anteriores li:nth-child(3n){margin-right:0}
#header .novidades .anteriores li h5{color:#4B4B4D;font-size:20px;font-weight:300;font-family:Rokkitt,sans-serif;padding:5px 0 0 30px;background:url(../_imagens/site/aspas.png) no-repeat left top;min-height:30px}
#header .novidades .anteriores li p{color:#4B4B4D;font-size:14px;line-height:18px;padding:15px 0;display:block}
#header .novidades .anteriores li a{color:#FEFEFE;font-size:14px;text-transform:uppercase;font-weight:300;font-family:Rokkitt,sans-serif;background:#54120f;padding:0 20px;line-height:40px;display:block;text-decoration:none;width:80px;text-align:center;margin:auto;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .novidades .anteriores li a:hover{background:#FFCC29;color:#54120f;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .novidades .anteriores li img{display:block;width:100%;margin-bottom:10px}

#header .novidades .txt{display:block;line-height:18px}
#header .novidades .txt p{margin-bottom:20px}

#header .promocoes{width:100%;height:auto;float:left;clear:both;border:15px solid #E8E3D0;padding:15px;box-sizing:border-box;background:#fff;margin-top:-86px;position:relative}
#header .promocoes h2{color:#972A2B;font-size:38px;text-transform:uppercase;text-align:center;margin:30px 0;font-weight:300;font-family:Rokkitt,sans-serif;border-bottom:2px solid #972A2B;padding-bottom:10px}
#header .promocoes a{display:block;margin-bottom:20px}
#header .promocoes a img{width:100%;display:block}

#header .contato{width:100%;height:auto;float:left;clear:both;border:15px solid #E8E3D0;padding:15px;box-sizing:border-box;background:#fff;margin-top:-86px;position:relative}
#header .contato h2{color:#972A2B;font-size:38px;text-transform:uppercase;text-align:center;margin:30px 0;font-weight:300;font-family:Rokkitt,sans-serif;border-bottom:2px solid #972A2B;padding-bottom:10px}
#header .contato p{color:#886A36;text-align:center;width:33%;float:left;font-size:18px;font-weight:600;margin-top:30px}
#header .contato p img{display:block;margin:0 auto 10px}
#header .contato p.telefone{font-size:26px}
#header .contato p.atendimento{font-size:14px}
#header .contato form{width:100%;float:left;clear:both;margin-top:60px}
#header .contato form .coluna{width:60%;float:left}
#header .contato form input[type=text]{width:48%;height:40px;line-height:40px;text-indent:10px;background:#E6E7E8;color:#848688;float:left;margin:0 2% 10px 0}
#header .contato form input[type=submit]{width:185px;height:40px;line-height:40px;border:1px solid #D83135;background:none;color:#D83135;float:right;border-radius:8px;margin-top:10px;cursor:pointer;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .contato form input[type=submit]:hover{background:#D83135;color:#fff;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#header .contato form textarea{width:40%;height:90px;padding:10px;background:#E6E7E8;color:#848688;float:right;box-sizing:border-box;resize:none}

#novidades{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/site/bg-2.png) repeat;padding:100px 0 150px}
#novidades h2{color:#E8E3D0;font-size:38px;text-transform:uppercase;text-align:center;margin-bottom:40px;font-weight:300;font-family:Rokkitt,sans-serif;border-bottom:2px solid #E8E3D0;padding-bottom:20px}
#novidades h3{color:#E8E3D0;font-size:20px;font-weight:300;font-family:Rokkitt,sans-serif;padding:5px 0 0 30px;background:url(../_imagens/site/aspas.png) no-repeat left top;min-height:30px}
#novidades p{color:#FEFEFE;font-size:14px;line-height:18px;padding:15px 0;display:block}
#novidades a{color:#FEFEFE;font-size:14px;text-transform:uppercase;font-weight:300;font-family:Rokkitt,sans-serif;background:#54120f;padding:0 20px;line-height:40px;display:block;text-decoration:none;width:80px;text-align:center;margin:auto;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#novidades a:hover{background:#FFCC29;color:#54120f;-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out}
#novidades img{display:block;width:100%;margin-bottom:10px}

#atendimento{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/site/bg-1.png) repeat;padding:20px 0}
#atendimento p{text-align:center;color:#D73438;font-size:12px;line-height:14px;font-weight:600}
#atendimento .principal{display:block;margin:-140px 0 20px}

#localizacao{width:100%;height:auto;float:left;clear:both;padding-top:15px;position:relative;background:#fff}
#localizacao h2{color:#606062;font-size:38px;text-transform:uppercase;text-align:center;margin-bottom:10px;font-weight:300;font-family:Rokkitt,sans-serif}
#localizacao iframe{width:100%;height:600px;display:block}
#localizacao .overlay{width:100%;height:100%;display:block;position:absolute;z-index:1;top:0;left:0}

#footer{width:100%;height:auto;float:left;clear:both;padding:20px 0;background:#FFCC29}
#footer p{font-size:12px;color:#373435;line-height:50px}
#footer a img{float:right}

@media only screen and (min-width: 790px) and (max-width: 1015px) {
	#header{height:630px}
	#atendimento .principal{margin-top:-114px}
	#header .banner{margin-top:-67px}
	#header .cardapio{margin-top:-67px}
	#header .cardapio .produtos .lista li a{height:230px}
	#header .promocoes{margin-top:-67px}
	#header .novidades{margin-top:-67px}
	#header .contato{margin-top:-67px}
}

@media only screen and (max-width: 789px) {
	#nav{height:auto;line-height:normal;padding:5px 0;text-align:left;position:inherit}
	#nav #menuDropDown,#nav ul.ativo{display:block}
	#nav ul{display:none}
	#nav ul li{display:block;padding:0;background:0;margin:0}
	#header,#header.interno{padding:20px 0;height:auto}
	#header .banner{margin-top:-37px}
	#header .banner .slider1{width:100%}
	#header .banner .slider2{width:50%}
	#header .cardapio{margin-top:-37px}
	#header .cardapio .menu{width:100%}
	#header .cardapio .produtos{width:100%;margin-top:30px}
	#header .cardapio .produtos .lista li{width:100%;margin:20px 0 !important}
	#header .cardapio .produtos .lista li a{height:auto;padding-bottom:10px}
	#header .cardapio .produtos .lista li a b{height:auto;display:block}
	#header .promocoes{margin-top:-37px}
	#header .novidades{margin-top:-37px}
	#header .novidades .menu{width:100%}
	#header .novidades .novidade{width:100%;margin-top:30px}
	#header .novidades .anteriores li{width:100%;margin:15px 0 !important}
	#header .contato{margin-top:-37px}
	#header .contato p{width:100%}
	#header .contato form .coluna{width:100%}
	#header .contato form textarea,#header .contato form input[type=submit]{width:100%;margin:3px 0}
	#header .contato form input[type=text]{width:100%;margin:3px 0}
	#novidades{padding:40px 0}
	#novidades a{margin-bottom:50px}
	#atendimento .principal{margin:0}
	#atendimento p{margin:10px 0}
	#atendimento img{display:block;margin:auto}
	#footer p{text-align:center}
	#footer a img{float:none;display:block;margin:10px auto}
}

@media only screen and (max-width: 470px){
	#header .banner{margin-top:-30px}
	#header .cardapio{margin-top:-30px}
}

